<div data-nav class="header-dropdown">
  <div class="header-dropdown-content">
    <div data-nav-close>CLOSE</div>
    <a class="header-link" href="/work">Work</a>
    <nav>
      {% for project in site.projects %}
        <a href="{{ project.url }}">
          {{ project.name }}
        </a>
      {% endfor %}
    </nav>
  </div>
</div>

<header>
  <div class="header-left">
    <a href="/">
      <h1 style="display: none">Genex Homes</h1>
      <img src="/uploads/genex.svg" />
    </a>
  </div>
  <div class="header-right">
    <nav>
      <!--<span data-nav-button class="header-link">Work</span>-->
      {% include header-link.html link="/work" title="Work" page=page %}
      {% include header-link.html link="/services" title="Services" page=page %}
      {% include header-link.html link="/about" title="About" page=page %}
      {% include header-link.html link="/news" title="News" page=page %}
      {% include header-link.html link="/contact" title="Contact" page=page %}
    </nav>
  </div>
</header>
