header {
  display: flex;
  align-items: baseline;
  padding: 0 $size-gutter;
  margin-top: 25px;
  flex-wrap: wrap;

  h1 {
    margin: 22px 0 0 0;
    font-size: 26px;
  }
}

.header-left {
  width: $size-sidebar;
  margin-bottom: 30px;

  img {
    width: 250px;
  }
}

.header-right {
  flex: 1;
  display: flex;
  transform: translateY(-5px);
}

.header-link {
  margin-right: 40px;
}

.header-link.active {
  color: $color-red;
}

.header-dropdown {
  height: 0px;
  overflow: hidden;
  transition: height .667s ease-in-out;
  background-color: #E0E1E2;
  color: #404040;

  &.active {
    height: 120px;
  }
}

.header-dropdown-content {
  padding: 30px $size-gutter 40px $size-gutter;
}
