---
layout: default
---

<section class="work">
  <div class="work-gallery">
    {% for p in page.Projects %}
      {% assign project = site.projects | where: 'title', p | first %}
      {% if project %}
        {% assign status = site.status | where: 'title', project.Status | first
        %}
        <div class="work-item">
          <a href="{{ project.url }}">
            <div class="work-image">
              <img src="{{ project.image }}" />
              <h4 class="description">{{ project.title }}</h4>
            </div>
            <h6>{{ project.location }} | {{ status.title }}</h6>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
